.Searchp{
    margin-left: 70px;
    margin-top: 20px;
}

.cl{
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    background-color: #9E9E9E;
    /* margin: 269px; */
    /* padding-left: -13px; */
    width: 90%;
   padding: 10px;
    border-radius: 20px;
}
.city{
    display: flex;
    justify-content: space-evenly;
    margin-left: -261px;
    margin-top: 29px;
}
.location{
    display: flex;
    justify-content: space-evenly;
    margin-left: -105px;
    margin-top: -32px;
    font-size: 13px;
}
.btn2{
    text-align: right;
}

.btn2{
  width: 100px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
  }
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
  }
  select:focus,
input[type="date"]:focus {
  border-color: #007bff; /* Change the border color when focused */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle shadow when focused */
}

@media screen and (max-width: 768px) {
  .Searchp {
      margin-left: 2%;
  }

  .cl {
      flex-direction: column;
      align-items: flex-start;
      width: 95%;
      margin: 20px auto;
  }

  .city, .location {
      margin-left: 0;
      justify-content: flex-start;
      width: 100%;
      margin-top: 10px;
  }

  .btn2 {
      width: 100%;
      margin-top: 10px;
  }
}
